html {
    height:100%;
    background-image: linear-gradient(to right top, #602679 0%, #26292cee 100%);
  }
  
  nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(231, 247, 11, 0.719);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }
  
  .ticker-container .ticker-tape {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .ticker-container .ticker-tape:before, .ticker-container .ticker-tape:after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 15%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .ticker-container .ticker-tape:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
   
  .ticker-container .ticker-tape:before {
    left: 0;
    top: 0;
  }
  .ticker-container .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .ticker-container div.slide {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Animation */
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  

  
